@import "tailwindcss";

@theme {
  /* ---- COLORS ---- */
  /* PRIMARY */
  --color-purple-500: hsl(259, 100%, 65%);
  --color-red-400: hsl(0, 100%, 67%);

  /* NEUTRAL */
  --color-white: hsl(0, 100%, 100%);
  --color-grey-100: hsl(0, 0%, 94%);
  --color-grey-200: hsl(0, 0%, 86%);
  --color-grey-500: hsl(0, 1%, 44%);
  --color-black: hsl(0, 0%, 0%);

  /* ---- FONT ---- */
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  html,
  body {
    font-family: var(--font-poppins);
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
